*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5E6C8;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 120px; /* hauteur du header */
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #F5E6C8;
}

form{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #3A7D44 ;
}

form  h1{
    font-size: 20px;
}

form .separation{
    width: 100%;
    height: 1px;
    background-color:#3A7D44 ;
}

form .formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .formulaire .boite{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

}

.formulaire .gauche input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px ;
    border: 1.5px solid #3A7D44 ;
    outline-color: #3A7D44 ;
    border-radius: 5px;
}

.formulaire .gauche i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #3A7D44;
}

.droite{
    margin-left: 40px;
}

.droite .boite{
    height: 100%;
}

.droite .boite textarea{
    margin-top: 5px;
    padding:10px ;
    background-color: #f8f8f8;
    border: 1.5px solid #3A7D44;
    outline-color: #3A7D44;
    border-radius: 5px;
    resize: none;
    height: 73%;
}

.pied-formulaire button{
    margin-top: 10px;
    background-color: #3A7D44;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.pied-formulaire button:hover{
    transform: scale(1.05);

}


/* Menu hamburger button  */
.menu-toggle {
    display: none;
    font-size: 2.5rem;
    color: #3A7D44;
    cursor: pointer;
}

/* responsive et animation du hamburger pour les petits écrans */
@media(max-width:995px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: 2rem;
        right: 4rem;
        z-index: 101;
    }

    /* Animation du hamburger (croix quand ouvert) */
    .menu-toggle.open i::before {
        content: "\f00d"; 
    }
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #3A7D44;
    border-bottom: 3px solid #3A7D44;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #F5E6C8;
    border-top: 0.1rem solid #F5E6C8;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #3A7D44;
  }
}
/*Responsive*/

@media screen and (max-width:920px){
    .droite{
    margin-left: 0px;
    }
    
}


/*Responsive pour le contact*/
@media(max-width:1000px){
    .contact{
        gap:4rem;
    }
}

@media(max-width:995px){
    .contact{
        flex-direction: column;
        margin: 5rem 4rem;
    }
}