body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

input.t {
    width: 270px;
    padding: 12px;
    margin: 10px;
    font-size: 1.2rem;
    border: 4px solid #ccc;
    border-radius: 8px;
    background-color: white;
    color: blue;
    box-shadow: 0 4px 10 px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease;
}

button {
    background-color: blueviolet;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}