body{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;

}

.facture{
    width: 80%;
    height: 100%;
    box-shadow: 10px 10px 10px rgb(158, 158, 158);
    background-color: rgb(212, 212, 212);
    
}

.entete{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 5%;
    
}

section li{
    list-style: none;
}

.tab{
    display: flex;
    justify-content: flex-start;
    padding: 5%;

}
img{
    width: 15%;
    height: 15%;
}

thead{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 30px;
}